$PrimaryColor: #1d1a1a;
$SecondaryColor: #232020;

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ebe5e5;

    .stockInfo {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 4vh 0;
        padding: 1vh 0;
        background-color: $PrimaryColor;

        .stockTitle {
            display: flex;
            flex-direction: column;

            .starIcon {
                font-size: 1.5rem;
                display: flex;
            }

            .logoImg {
                width: 100px;
            }
        }

        .stockStats {
            font-size: 18px;
        }
    }



    .addicionalInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__button {
            width: 15vmax;
            margin: 3vh 0;
            background-color: $PrimaryColor;
            padding: 1vmax;
            cursor: pointer;
        }

        &__text {
            background-color: $PrimaryColor;
            padding: 15px;
            margin-bottom: 5vh;
        }
    }


    .graph {
        z-index: 1;
        margin-bottom: 3vh;
    }

    .description {
        width: 100%;
        background-color: $PrimaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__text {
            width: 50vw;
            padding: 10px;
        }
    }
}

@media (max-width: 600px) {
    .main {
        .stockInfo {
            flex-direction: column;

            .stockTitle {
                align-items: center;
            }
        }

    }
}