.header {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1a1a;


    &__form {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
}