.footer {
    bottom: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1d1a1a;
    ;

    button {
        height: 5vh;
        width: 6vmax;
        color: #ebe5e5;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        margin-right: 1vw;
        cursor: pointer;
    }

    .gitHub-button {
        background-color: black;
    }

    .linkedin-button {
        background-color: #0a66c2;
    }


    @media only screen and (max-width: 1100px) {
        button {
            width: 10vmax;
            margin-right: 3vw;
            font-size: 0.85rem;
        }
    }
}